# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
/BookPrint/print_input
/BookPrint/Debug
/BookPrint/ipch
/BookPrint/*.sdf
/BookPrint/*.sln
/BookPrint/*.suo
/BookPrint/*.vcxproj
/BookPrint/*.filters
/BookPrint/*.user
